.App {
  text-align: center;
}

.header {
  background-color: grey;
}

.followers-column {
  background-color: aquamarine;
  width: 500px;
  height: 800;
}

.feed {
  background-color: blue ;
}

.suggested-box {
  background-color: cornflowerblue;
  width: 400px;
  height: 400px;
}